body{

font-size: 16px;
color:#fff;
background-color: #61122f;
font-family: "oxigen" , sans-serif;

}

#header-nav{
 
    background-color: #f6b319;
    border-radius: 0;
    border: 0;

}
#logo-img{
    background-color: black;
    background:url('../imagen/df.png') no-repeat;
    background-size: cover;
    width: 210px;   
    height: 210px;
    margin: 10px 15px 10px 0;
}
